form {
  display: flex;
}

.journeysWrapper {
  display: flex;
  width: 100%;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}


.noRoute {
  display: flex;
  align-content: center;
  justify-content: center;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

input[type=submit] {
  color: white;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

label {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

input[type=text] {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  border: none;
  margin: 2%;
  font-size: 1.3em;
  height: 100%;
}

.journeys-page-block {
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 253, 253);
}
.journeys-page-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 1024px;
  flex-shrink: 0;
}
.journeys-page-flex {
  display: flex;
  flex-direction: column;
}
.journeys-page-flex.layout {
  position: relative;
}
.journeys-page-subtitle3 {
  font: 700 20px/1.2 "Clash Display";
  color: rgb(2, 0, 14);
  letter-spacing: 0px;
}
.journeys-page-subtitle3.layout {
  position: relative;
  height: min-content;
}
.journeys-page-block5 {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 19px 100px 0px rgba(142, 150, 155, 0.2470588235);
  border-radius: 20px 20px 20px 20px;
}
.journeys-page-block5.layout {
  position: relative;
  height: min-content;
  margin: 79px auto 0px;
}
.journeys-page-flex1 {
  display: flex;
  justify-content: center;
}
.journeys-page-flex1.layout {
  position: relative;
  height: min-content;
  margin: 30px 31px;
}
.journeys-page-flex1-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 240px;
}
.journeys-page-block6 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px 10px 10px 10px;
}
.journeys-page-block6.layout {
  position: relative;
  height: min-content;
  margin: 3px 0px 2px;
}
.journeys-page-block7 {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.journeys-page-block7.layout {
  position: relative;
  height: min-content;
  width: 85%;
  margin: 9px 59.58% 9px 6.25%;
}
.journeys-page-subtitle2 {
  font: 20px/1.2 "SF Pro Display";
  color: rgb(132, 132, 132);
  letter-spacing: 0px;
}
.journeys-page-subtitle2.layout {
  position: relative;
  height: min-content;
  min-width: 0px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px 0px 0px 33px;
}
.journeys-page-icon3 {
  background: var(--src) center center/contain no-repeat;
}
.journeys-page-icon3.layout {
  position: absolute;
  top: 0px;
  height: 24px;
  left: -1px;
  width: 24px;
}
.journeys-page-flex1-spacer {
  flex: 0 1 28px;
}
.journeys-page-block8 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px 10px 10px 10px;
}
.journeys-page-block8.layout {
  position: relative;
  height: min-content;
  margin: 3px 0px 2px;
}
.journeys-page-block9 {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}
.journeys-page-block9.layout {
  position: relative;
  height: min-content;
  width: 85%;
  margin: 9px 69.17% 9px 6.25%;
}
.journeys-page-block10 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px 10px 10px 10px;
}
.journeys-page-block10.layout {
  position: relative;
  height: min-content;
  margin: 3px 0px 2px;
}
.journeys-page-block11 {
  display: flex;
  background-color: rgb(255, 255, 255);
}
.journeys-page-block11.layout {
  position: relative;
  height: min-content;
  width: 36.67%;
  margin: 18px 57.08% 18px 6.25%;
}
.journeys-page-block11-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 25px;
}
.journeys-page-icon3.layout1 {
  position: relative;
  height: 24px;
  width: 24px;
  min-width: 24px;
  margin: 0px 0px 0px 1px;
}
.journeys-page-block11-spacer {
  flex: 0 1 10px;
}
.journeys-page-subtitle2.layout1 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
}
.journeys-page-flex1-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 106px;
}
.journeys-page-block12 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px 10px 10px 10px;
}
.journeys-page-block12.layout {
  position: relative;
  height: min-content;
  margin: 3px 0px 2px;
}
.journeys-page-block13 {
  display: flex;
  background-color: rgb(255, 255, 255);
}
.journeys-page-block13.layout {
  position: relative;
  height: min-content;
  width: 47.17%;
  margin: 18px 38.68% 18px 14.15%;
}
.journeys-page-block13-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 25px;
}
.journeys-page-icon3.layout2 {
  position: relative;
  height: 24px;
  width: 24px;
  min-width: 24px;
  margin: 0px 0px 0px 1px;
}
.journeys-page-block13-spacer {
  flex: 0 1 10px;
}
.journeys-page-subtitle2.layout2 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
}
.journeys-page-flex1-spacer1 {
  flex: 0 1 48px;
}
.journeys-page-flex1-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 161px;
}
.journeys-page-block14 {
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 87, 7);
  border-radius: 20px 20px 20px 20px;
  align-content: center;
}
.journeys-page-block14.layout {
  position: relative;
  height: min-content;
  margin: 0px 21px 0px 0px;
}
.journeys-page-medium-title2 {
  display: flex;
  justify-content: center;
  font: 700 24px/1.2 "SF Pro Display";
  color: rgb(255, 255, 255);
  text-align: right;
  letter-spacing: 0px;
}
.journeys-page-medium-title2.layout {
  position: relative;
  height: min-content;
  margin: 18px 39px;
  width: 5em;
}
.journeys-page-flex2 {
  display: flex;
}
.journeys-page-flex2.layout {
  position: relative;
  height: min-content;
  width: 87.6%;
  margin: 80px auto 0px;
}
.journeys-page-flex2-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 24px;
}
.journeys-page-icon3.layout3 {
  position: relative;
  height: 24px;
  width: 24px;
  min-width: 24px;
  margin: 2px 0px 3px;
}
.journeys-page-flex2-spacer {
  flex: 0 1 20px;
}
.journeys-page-medium-title1 {
  font: 700 24px/1.2 "SF Pro Display";
  color: rgb(2, 0, 14);
  letter-spacing: 0px;
}
.journeys-page-medium-title1.layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
}
.journeys-page-flex3 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.journeys-page-flex3-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 320px;
}
.journeys-page-block1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 19px 100px 0px rgba(142, 150, 155, 0.2470588235);
  border-radius: 20px 20px 20px 20px;
}
.journeys-page-block1.layout {
  position: relative;
  height: min-content;
  margin-top: 10%;
  width: 108%;
}
.journeys-page-flex4 {
  display: flex;
  flex-direction: column;
}
.journeys-page-flex4.layout {
  position: relative;
  height: min-content;
  margin: 39px 0px;
}
.journeys-page-flex5 {
  display: flex;
}
.journeys-page-flex5.layout {
  position: relative;
  height: min-content;
  width: 85.63%;
  margin: 2px 0% 0px 14.37%;
}
.journeys-page-flex5-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 60px;
}
.journeys-page-flex6 {
  display: flex;
  flex-direction: column;
}
.journeys-page-flex6.layout {
  position: relative;
  height: min-content;
}
.journeys-page-subtitle {
  font: 700 20px/1.2 "SF Pro Display";
  color: rgb(2, 0, 14);
  letter-spacing: 0px;
}
.journeys-page-subtitle.layout {
  position: relative;
  height: min-content;
  margin: 0px 1px 0px 7px;
}
.journeys-page-highlights2 {
  font: 500 16px/1.5 "SF Pro Display";
  color: rgb(69, 65, 91);
  letter-spacing: 0px;
}
.journeys-page-highlights2.layout {
  position: relative;
  height: min-content;
  margin: 16px 0px 0px;
  width: 102%;
}
.journeys-page-subtitle.layout1 {
  position: relative;
  height: min-content;
  margin: 16px 5px 0px 3px;
}
.journeys-page-flex5-spacer {
  flex: 0 1 14px;
}
.journeys-page-flex5-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 12px;
}
.journeys-page-group {
  display: flex;
  flex-direction: column;
}
.journeys-page-group.layout {
  position: relative;
  height: min-content;
  margin: 6px 0px;
}
.journeys-page-cover-block {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/contain no-repeat;
}
.journeys-page-cover-block.layout {
  position: absolute;
  top: 0px;
  height: min-content;
  bottom: 80px;
  left: 0px;
  right: 0px;
}
.journeys-page-icon1 {
  background: var(--src) center center/contain no-repeat;
}
.journeys-page-icon1.layout {
  position: relative;
  height: 6px;
  width: 6px;
  min-width: 6px;
  margin: 3px;
}
.journeys-page-icon1.layout1 {
  position: absolute;
  top: 0px;
  height: 6px;
  left: 0px;
  width: 6px;
  min-width: 6px;
  margin: 83px 3px 3px;
}
.journeys-page-icon {
  background: var(--src) center center/contain no-repeat;
}
.journeys-page-icon.layout {
  position: relative;
  height: 12px;
  width: 12px;
  min-width: 12px;
  margin: 80px 0px 0px;
}
.journeys-page-box1 {
  background-color: rgb(2, 0, 15);
}
.journeys-page-box1.layout {
  position: absolute;
  top: 0px;
  height: 80px;
  left: 6px;
  right: 5px;
  margin: 6px 0px;
}
.journeys-page-flex5-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 54px;
}
.journeys-page-flex7 {
  display: flex;
  flex-direction: column;
}
.journeys-page-flex7.layout {
  position: relative;
  height: min-content;
}
.journeys-page-medium-title {
  font: 24px/1 "SF Pro Display";
  color: rgb(2, 0, 14);
  letter-spacing: 0px;
}
.journeys-page-medium-title.layout {
  position: relative;
  height: min-content;
  margin: 0px 2px 0px 0px;
}
.journeys-page-medium-title.layout1 {
  position: relative;
  height: min-content;
  margin: 56px 0px 0px;
}
.journeys-page-flex5-spacer1 {
  flex: 0 1 50px;
}
.journeys-page-flex5-item3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 70px;
}
.journeys-page-block2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 248, 253);
}
.journeys-page-block2.layout {
  position: relative;
  height: min-content;
  margin: 0px 0px 66px;
}
.journeys-page-subtitle.layout2 {
  position: relative;
  height: min-content;
  margin: 7px 14px 7px 11px;
}
.journeys-page-flex8 {
  display: flex;
}
.journeys-page-flex8.layout {
  position: relative;
  height: min-content;
  width: 69.38%;
  margin: 22px auto 0px;
}
.journeys-page-highlights {
  font: 16px/1.5 "SF Pro Display";
  color: rgb(69, 66, 91);
  letter-spacing: 0px;
}
.journeys-page-highlights.layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
}
.journeys-page-flex8-spacer {
  flex: 0 1 14px;
}
.journeys-page-highlights1 {
  font: 700 16px/1.5 "SF Pro Display";
  color: rgb(69, 66, 91);
  letter-spacing: 0px;
}
.journeys-page-highlights1.layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
}
.journeys-page-block3 {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 87, 7);
  border-radius: 20px 20px 20px 20px;
}

.journeys-page-block3.layout {
  position: relative;
  height: min-content;
  width: 50%;
  margin: 40px 37.5% 0px 12.5%;
}
.journeys-page-subtitle1 {
  display: flex;
  justify-content: center;
  font: 700 20px/1.2 "SF Pro Display";
  color: rgb(255, 255, 255);
  text-align: right;
  letter-spacing: 0px;
}
.journeys-page-subtitle1.layout {
  position: relative;
  height: min-content;
  margin: 13px 38px;
}
.journeys-page-flex3-spacer {
  flex: 0 1 50px;
}
.journeys-page-flex9 {
  display: flex;
  flex-direction: column;
}
.journeys-page-flex9.layout {
  position: relative;
  height: min-content;
  margin: 39px 0px;
}
.journeys-page-flex10 {
  display: flex;
}
.journeys-page-flex10.layout {
  position: relative;
  height: min-content;
  width: 85.63%;
  margin: 2px 0% 0px 14.37%;
}
.journeys-page-flex10-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 60px;
}
.journeys-page-subtitle.layout3 {
  position: relative;
  height: min-content;
  margin: 16px 5px 0px 3px;
}
.journeys-page-flex10-spacer {
  flex: 0 1 14px;
}
.journeys-page-flex10-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 12px;
}
.journeys-page-icon1.layout2 {
  position: absolute;
  top: 0px;
  height: 6px;
  left: 0px;
  width: 6px;
  min-width: 6px;
  margin: 83px 3px 3px;
}
.journeys-page-flex10-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 54px;
}
.journeys-page-medium-title.layout2 {
  position: relative;
  height: min-content;
  margin: 56px 0px 0px;
}
.journeys-page-flex10-spacer1 {
  flex: 0 1 50px;
}
.journeys-page-flex10-item3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 70px;
}
.journeys-page-subtitle.layout4 {
  position: relative;
  height: min-content;
  margin: 7px 14px 7px 11px;
}
.journeys-page-block1.layout1 {
  position: relative;
  height: 320px;
  width: 320px;
  min-width: 320px;
}
.journeys-page-flex14 {
  display: flex;
  flex-direction: column;
}
.journeys-page-flex14.layout {
  position: relative;
  height: min-content;
  margin: 39px 0px;
}
.journeys-page-flex15 {
  display: flex;
}
.journeys-page-flex15.layout {
  position: relative;
  height: min-content;
  width: 85.63%;
  margin: 2px 0% 0px 14.37%;
}
.journeys-page-flex15-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 60px;
}
.journeys-page-subtitle.layout5 {
  position: relative;
  height: min-content;
  margin: 16px 5px 0px 3px;
}
.journeys-page-flex15-spacer {
  flex: 0 1 14px;
}
.journeys-page-flex15-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 12px;
}
.journeys-page-icon1.layout3 {
  position: absolute;
  top: 0px;
  height: 6px;
  left: 0px;
  width: 6px;
  min-width: 6px;
  margin: 83px 3px 3px;
}
.journeys-page-flex15-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 54px;
}
.journeys-page-medium-title.layout3 {
  position: relative;
  height: min-content;
  margin: 56px 0px 0px;
}
.journeys-page-flex15-spacer1 {
  flex: 0 1 50px;
}
.journeys-page-flex15-item3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 70px;
}
.journeys-page-subtitle.layout6 {
  position: relative;
  height: min-content;
  margin: 7px 14px 7px 11px;
}